// Copy this file into 'src' folder, then change the file extension to js file

const dbCredential = {
  databaseName: 'your_database_name',
  userName: 'your_database_username',
  password: 'your_database_password',
};

